.item {
    box-sizing: border-box;
    width: 100%;
    font-family: "Manrope";
    font-style: normal;
    border-bottom: 1px solid #000;
    padding: 4px 4px;
    cursor: pointer;
    padding: 8px 4px;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: none; 
    }
};