.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
};

.form_container {
    width: 100%;
    display: flex;
    flex-direction: column;
};

.product_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Manrope";
    font-style: normal;
};  

.input_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-child(n + 2 ) {
        margin-top: 10px;
    }
};

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
};

.description_area {
    margin-top: 6px;
    resize: none;
    padding: 10px;
    border-radius: 20px;
    color: #2f303a;
    border: 2px solid #2f303a;
    outline: none;

    &:focus {
        border: 2px solid orange;
    };
};

.label_textarea {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 20px;

    &:nth-child(n + 2 ) {
        margin-top: 10px;
    }
};

.label_input {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;

    &:nth-child(n + 2 ) {
        margin-top: 10px;
    }
};

.input_text {
    margin-top: 6px;
    width: 450px;
    height: 30px;
    border-radius: 15px;
    padding: 2px 8px;
    border: 2px solid #2f303a;
    outline: none;
    font-size: 14px;

    &:focus {
        border: 2px solid orange;
    };
};

.title_picture {
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
};

.product_picture {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 15px;
};

.input_photo {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
};

.button_input_file {
    width: 150px;
    height: 12px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: orange;
    color: #fff;
    border: 1px solid;
    padding: 10px; 
    border-radius: 10px;
    font-family: "Manrope";
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    
    &:hover {
        background-color: darkorange;
    };
};

.subcontainer_photo {
    display: flex;
    flex-direction: column;
};

.button_submit {
    width: 250px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: orange;
    color: #fff;
    border: 1px solid;
    padding: 10px; 
    border-radius: 10px;
    font-family: "Manrope";
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;

    &:hover {
        background-color: darkorange;
    };
    
};

.type_active {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
};

.radio_button {
	opacity: 0;
    position: absolute;
    cursor: pointer;
};  

.custom_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid orange;
    position: relative;
    border-radius: 5px;
};

.custom_button::before {
    content: '';
    position: absolute;
    display: none;
    width: 24px;
    height: 24px;
    background-color: orange;
};

.radio_button:checked + .custom_button::before {
    display: inline-block;
};

.button_name {
    margin-left: 10px;
    font-size: 18px;
};







