.product_container {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
};

.filter_container {
    width: 180px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

};

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    position: relative;

    &:nth-child(n + 2) {
        margin-top: 14px;
    };

    @media screen and (min-width: 768px) {
        &:nth-child(n + 2) {
            margin-top: 0px;
            margin-left: 20px
        };
    }
};

.button_sort {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 28px;
    background-color: orange;
    font-family: "Manrope";
    font-style: normal;
    border-radius: 6px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darkorange;
    };
};

.filter_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Manrope";
    font-style: normal;
    margin: 0px;
};

.down_allow {
    width: 18px;
    height: 18px;
};

.colorMenuActive {
    width: 220px;
    position: absolute;
    top: 26px;
    left: -20px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid orange;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
};

.menu_list {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
};

.radio_button {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 12px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}; 

.custom_button {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid orange;
    position: relative;
    border-radius: 5px;
};

.custom_button::before {
    content: '';
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    background-color: orange;
};

.radio_button:checked + .custom_button::before {
    display: inline-block;
};

.item_color {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-child(n + 2) {
        margin-top: 8px;
    };
}

.subtitle {
    margin-left: 10px;
    font-style: normal;
    font-family: "Manrope";
    cursor: pointer;
};

.colorMenu {
    display: none;
};

.typeMenuActive {
    width: 220px;
    position: absolute;
    top: 26px;
    left: -20px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid orange;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
};

.typeMenu {
    display: none;
};

.button_cancel {
    align-self: center;
    width: 160px;
    height: 30px;
    margin-top: 20px;
    background-color: orange;
    font-family: "Manrope";
    font-style: normal;
    border-radius: 6px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: darkorange;
    };

    @media screen and (min-width: 768px) {
        margin-top: 0px;
        margin-left: 20px
    }
};

.priceMenuActive {
    width: 220px;
    position: absolute;
    top: 26px;
    left: -20px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid orange;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
};

.priceMenu {
    display: none;
};

.icon_filter {
    width: 24px;
    height: 24px;
};



