.subcategory_item {

    &:nth-child(n+2) {
        margin-top: 10px;
    }
};

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
};

.radio_button {
    opacity: 0;
    position: absolute;
    cursor: pointer;
};  

.custom_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid orange;
    position: relative;
    border-radius: 5px;
};

.custom_button::before {
    content: '';
    position: absolute;
    display: none;
    width: 24px;
    height: 24px;
    background-color: orange;
};

.radio_button:checked + .custom_button::before {
    display: inline-block;
};

.subcategory_name {
    margin-left: 10px;
    font-size: 18px;
};