.container {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
};

.sentences {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
};

.title {
    margin-top: 8px;
    margin-bottom: 8px;
    align-self: center;
};