.container {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
};

.title_main {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Manrope";
    font-style: normal;
};

.title {
    margin-top: 8px;
    margin-bottom: 8px;
    align-self: flex-start;
    font-family: "Manrope";
    font-style: normal;
};

.address {
    align-self: flex-start;
    margin-top: 8px;
    font-style: normal;
    font-family: "Manrope";
    font-style: normal;
};

.schedule {
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: "Manrope";
    font-style: normal;
};

.contacts_item {
    align-self: flex-start;
    color: #000;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: "Manrope";
    font-style: normal;
};

.contacts_link {
    color: #000;
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
};