.container {
    min-height: 100vh;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
};

.item_notFound {
    font-family: "Manrope";
    font-style: normal;
    font-size: 20px;
};
