.container {
    display: flex;
    justify-content: center;
    align-items: center;
};

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
};

.modal_active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    object-fit: cover;
};

.modal_content {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.3s;
    width: 70vw;
    height: 85vh;

    @media screen and (min-width: 1024px) {
        width: 40vw;
        height: 60vh;
    }

    @media screen and (min-width: 1400px) {
        width: 40vw;
        height: 66vh;
    }

};

.modal_content_active {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    transform: scale(1);
    transition: 0.5s;
    width: 70vw;
    height: 85vh;
    overflow: auto;

    @media screen and (min-width: 1024px) {
        width: 40vw;
        height: 60vh;
    }

    @media screen and (min-width: 1400px) {
        width: 20vw;
        height: 46vh;
    }
};

.icon_close {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.2);
};

.button_close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button_close:hover .icon_close {
    color: orange;
};

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
};

.error_message {
    color: red;
    font-family: "Manrope";
    font-style: normal; 
    font-weight: 700;
    font-size: 34px;
    text-align: center;
};

.button_submit {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: orange;
    color: #fff;
    border: 1px solid;
    padding: 10px; 
    border-radius: 10px;
    font-family: "Manrope";
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-top: auto;

    &:hover {
        background-color: darkorange;
    };
};

.error_text {
    font-family: "Manrope";
    font-style: normal; 
    font-weight: 700;
    font-size: 22px;
    text-align: center;
};
