.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
};

.form {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        width: 90%;
    }

    @media screen and (min-width: 1400px) {
        width: 80%;
    }

};

.form_container {
    display: flex;
    flex-direction: column;
    width: 100%; 

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 14px;
    }
}

.button_submit {
    width: 250px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: orange;
    color: #fff;
    border: 1px solid;
    padding: 10px; 
    border-radius: 10px;
    font-family: "Manrope";
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;

    &:hover {
        background-color: darkorange;
    };
};

.contact_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.contact_details_title {
    font-family: "Manrope";
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 18px;
    font-weight: 600;
};

.contact_details_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
};

.contact_details_input {
    width: 200px;
    display: flex;
    font-size: 16px;
    padding: 8px 16px;
    border: 1.5px solid #2f303a;
    border-radius: 25px;
    font-style: normal;
    font-family: "Manrope";

    &:focus {
        border: 1.5px solid orange;
        outline: none;
    };
};

.contact_details_subtitle {
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 6px;
    font-style: normal;
    font-family: "Manrope";
};

.delivery_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
};

.delivery_details_title {
    font-family: "Manrope";
    font-style: normal;
    margin-bottom: 18px;
    font-weight: 600;
    align-self: center;

    @media screen and (min-width: 1024px) {
        margin-top: 0px;
    };
};

.delivery_details_subtitle {
    margin-left: 10px;
    font-style: normal;
    font-family: "Manrope";
};

.description_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.description_details_subtitle {
    font-size: 22px;
    font-style: normal;
    font-family: "Manrope";
    font-weight: 600;
    margin-top: 20px;

    @media screen and (min-width: 1024px) {
        margin-top: 0px;
    };
};

.description_details_field {
    width: 300px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    font-family: "Manrope";
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 1.5px solid #2f303a;

    &:focus {
        border: 1.5px solid orange;
        outline: none;
    };

    @media screen and (min-width: 1024px) {
        width: 250px;
        height: 200px;
    }
};

.delivery_details_warehouse {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
};

.delivery_details_label {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-family: "Manrope";
};

.delivery_details_address {
    margin-top: 12px;
    text-align: center;
    font-style: normal;
    font-family: "Manrope";
};

.delivery_details_schedule {
    align-self: center;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: "Manrope";
    font-style: normal;
};

.delivery_details_item {
    align-self: center;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: "Manrope";
    font-style: normal;

    @media screen and (min-width: 425px) {
        margin-bottom: 18px;
    }
};

.delivery_details_link {
    color: #000;
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    cursor: pointer;

    &:hover {
        color: orange;
    }
};

.delivery_details_courier {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
};

.delivery_details_courier_label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
};

.delivery_details_courier_label_branchNumber_active {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
};

.delivery_details_courier_label_branchNumber {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    opacity: 0;
};

.delivery_details_courier_input {
    width: 300px;
    display: flex;
    font-size: 16px;
    padding: 8px 16px;
    border: 1.5px solid #2f303a;
    border-radius: 25px;
    font-style: normal;
    font-family: "Manrope";

    &:focus {
        border: 1.5px solid orange;
        outline: none;
    };
};

.delivery_details_courier_input_error {
    width: 300px;
    display: flex;
    font-size: 16px;
    padding: 8px 16px;
    border: 1.5px solid red;
    border-radius: 25px;
    font-style: normal;
    font-family: "Manrope";

    &:focus {
        border: 1.5px solid red;
        outline: none;
    };
}

.delivery_details_courier_subtitle {
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 6px;
    font-style: normal;
    font-family: "Manrope";
};

.delivery_options {
    display: flex;  
    justify-content: center;
    align-items: center;
};

.delivery_details_option {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:nth-child(n+2) {
        margin-left: 10px;
        @media screen and (min-width: 678px) {
            margin-left: 20px;
        }
    }

};

.radio_button {
    display: none;
    cursor: pointer;
};  

.custom_button {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid orange;
    position: relative;
    border-radius: 5px;
};

.custom_button::before {
    content: '';
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    background-color: orange;
};

.radio_button:checked + .custom_button::before {
    display: inline-block;
};

.error_message {
    color: red;
    margin: 0px;
};
