.container {
    padding: 0px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
};

.button {
    display: none;
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: orange;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-decoration: none;
        font-family: "Manrope";
        font-style: normal;
        font-size: 20px;

        &:hover {
            background-color: darkorange;
        };

        &:nth-child(n + 2 ) {
            margin-left: 20px;
        };
    };
};

.menu_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
};