.container {
    display: flex;
    justify-content: center;
    align-items: center;
};

.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
};

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.3s;
    width: 70vw;
    height: 90vh;
};


.modal_active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
};

.modal_content_active {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    transform: scale(1);
    transition: 0.5s;
    width: 70vw;
    height: 90vh;
    overflow: auto;
};

.photo {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    @media screen and (min-width: 768px) {
        width: 350px;
        height: 350px;
    }
};

.title {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    font-family: "Manrope";
    font-weight: 600;
    text-align: center;
};

.description {
    font-size: 10px;
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    line-height: 1.15em;
};

.icon_close {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.2);
};

.button_close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
}

.button_close:hover .icon_close {
    color: orange;
};

.product_items {
    margin-top: 5px;
    margin-bottom: 0px;
};

.product_item_color {
    color: #000;
    font-weight: 500;
}

.quantity_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.quantity_button_decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 26px;
    border-radius: 5px 0px 0px 5px;
};

.quantity_button_increment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 30px;
    border-radius: 0px 5px 5px 0px;
};

.input {
    text-align: center;
    padding: 0px 10px;
    outline: none;
    height: 26px;
    width: 20px;
    font-size: 16px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
};

.buttons_container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.button_basket {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: #fff;
    border: 1px solid;
    padding: 10px; 
    margin-left: 20px;
    border-radius: 10px;
}

.icon_basket {
    width: 25px;
    height: 25px;
    margin-top: -5px;
}


.button_oneClick {
    height: 40px;
    width: 100%;
    padding: 10px;  
    background-color: orange;
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 700;
};

.description {
    margin-top: 20px;
    font-size: 12px;
};

.basket_word {
    font-weight: 700;
    margin-left: 10px;
}