.subcategory_item {
    margin: 0px 0px 0px 18px;
    margin-top: 6px;
    padding: 2px;
};

.button_subcategory {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #2f303a;

    &:hover .button_text {
        color: orange;
        text-decoration: underline;
    };
};

.button_text {
    font-size: 18px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #2f303a;
};

