.container {
    background-color: #2f303a;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
};

.header{
    width: 100%;
    padding: 10px 40px 10px 20px;
    max-width: 1600px;
};

.menuIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #2f303a;
    color: #fff;
    border: none;

    @media screen and (min-width: 1024px) {
        display: none;
    }
};

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
};

.auth_container {
    display: flex;
    flex-direction: row;
};

.search_container_mobile {
    margin: 8px 0px 8px 0px;

    @media screen and (min-width: 640px) {
        display: none;
    };

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
    };

    @media screen and (min-width: 1280px) {
        display: none;
    };
    
};

.menu_list {
    margin-top: 14px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 5;
    padding: 10px 0px 10px 0px; 
};

.auth_list {
    display: flex;
    flex-direction: column;
    align-items: center;
};

.nav_mobile_item {
    display: flex;
    align-items: center;
    justify-content: center;        
    text-decoration: none;
    color: #2f303a;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Manrope";
    font-style: normal;
    
    &:hover {
        color: orange;
        text-decoration: underline;
    };

    @media screen and (min-width: 1024px) {
        font-size: 30px;
    };
};

.search_container_for_tablet {
    display: none;

    @media screen and (min-width: 640px) {
        display: flex;
    };

    @media screen and (min-width: 1024px) {
        display: none;
    };

    @media screen and (min-width: 1280px) {
        display: flex;
    };
};

