.button {
    display: none;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #54adff;
    color: #fff;
    border-radius: 25px;
    margin-right: 20px;
    text-decoration: none;
    border: 2px #54adff solid;
    font-size: 20px;

    &:hover {
        color: #000;
        background-color: #fff;
    };
    @media screen and (min-width: 1280px) {
        display: inline;
    };
};

.user {
    display: none;
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #54adff;
        text-decoration: none;
        margin-right: 40px;
    }
};

.icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
};

.name {
    font-size: 20px;
};


