.footer_container {
    margin-top: 20px;
    background-color: #2f303a;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
};

.contacts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
};

.address {
    font-style: normal;
    font-family: "Manrope";
};

.contacts_item {
    margin-top: 12px;
    margin-bottom: 0px;
    font-style: normal;
    font-family: "Manrope";
};

.contacts_link {
    font-style: normal;
    font-family: "Manrope";
    text-decoration: none;
    color: #fff;

    &:hover {
        color: orange;
    }
};

.messenger {
    width: 62px;
    height: 62px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:nth-child(n + 2 ){
        margin-top: 15px;
    };

    @media screen and (min-width: 768px) {
        &:nth-child(n + 2 ){
            margin-top: 0px;
            margin-left: 15px;
        };
    };
    
};

.messenger_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 0px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    };

    &:hover {
        color: orange;
    }
};

.messenger_icon {
    width: 40px;
    height: 40px;
    color: #fff;
};

.messenger_name {
    margin-top: 4px;
    margin-bottom: 0px;
    font-style: normal;
    font-family: "Manrope";
};

.messenger_title {
    display: none;
    margin: 0px;
    font-style: normal;
    font-family: "Manrope";

    @media screen and (min-width: 768px) {
        display: flex;
    }

};

.messengers_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
};

.schedule {
    margin-top: 12px;
    margin-bottom: 0px;
    font-style: normal;
    font-family: "Manrope";
};