.list_container {
    width: 100%;
};

.title {
    font-family: "Manrope";
    font-style: normal;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 20px;
    align-self: center;
};

.totalAmount {
    font-family: "Manrope";
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    text-align: center;
};

.basket_list {
    margin: 0px;
    padding-left: 0px;
    list-style: none;
};