.container {
    height: 300px;
    background-image: url("../../images/color.jpg");
    background-repeat: 'no-repeat';
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;

    @media screen and (min-width: 768px) {
        height: 450px;
    }

    @media screen and (min-width: 1280px) {
        height: 650px;
    }
};