.nav {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        font-family: "Manrope";
        font-style: normal;
    }
};

.nav_item {
        margin-right: 22px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        font-size: 18px;

        &:hover{
            color: orange;
        }
};

