.nav {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        font-family: "Manrope";
        font-style: normal;
        margin-right: 84px;
    }
};

.nav_item {
        margin-right: 22px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        font-size: 18px;
        padding: 14px 0px;

        &:hover{
            color: orange;
        }
};

.nav_item_selected {
    margin-right: 22px;
    text-decoration: none;
    color: orange;
    font-size: 20px;
    font-weight: 500;
    font-size: 18px;
    padding: 14px 0px;
    position: relative;
    
    &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    border-radius: 2px;
    background-color: orange;
    };
}

